.post-list {
    overflow: hidden;
    margin: 0 auto;
    padding-bottom: 100px;
    width: 970px;
    
    li {
        position: relative;
        z-index: 3;
        display: block;
        float: left;
        width: 348px;

        &:first-child {
            z-index: 5;
        }

        &:last-child {
            z-index: 1;
        }
        
        &:not(:first-child) {
            margin-left: -37px;
        }

        &:nth-child(odd) {
            margin-top: 90px;
        }
    }

    @media screen and (max-width: 970px) {
        width: auto;

        li {
            width: 33.3%;

            &:not(:first-child) {
                margin-left: 0;
            }

            img {
                width: 100%;
                height: auto;
            }
        }
    }

    @media screen and (max-width: 500px) {
        padding-bottom: 0;
        
        li {
            float: none;
            margin: 0 auto 50px;
            width: 300px;
            
            &:not(:first-child) {
                margin-left: auto;
            }

            &:nth-child(odd) {
                margin-top: 45px;
            }
        }
    }
}